.badge.svelte-qm4qgq{display:inline-flex;align-items:center;justify-content:center;padding:.1em .4em;border-radius:999999px;font-size:.75em;font-weight:600;color:var(--fg-primary);border:1px solid var(--fg-primary)}
