# The Docker image that will be used to build your app
image: node:22.13.1
# Functions that should be executed before the build script is run
before_script:
  - npm i

pages:
  script:
    - npm run build
  artifacts:
    paths:
      # The folder that contains the files to be exposed at the Page URL
      - public
  rules:
    # This ensures that only pushes to the default branch will trigger
    # a pages deploy
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    - when: manual

develop:
  artifacts:
    paths:
      - public

  environment:
    name: "$CI_MERGE_REQUEST_TITLE"
    url: "https://$CI_PROJECT_NAMESPACE.pages.inpt.fr/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/public/index.html"

  script:
    - npm run build

  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - when: manual

  variables:
    PUBLIC_URL: "/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/public"
