{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "@ianvs/prettier-plugin-sort-imports"],
	"importOrder": ["<TYPES>", "", "<THIRD_PARTY_MODULES>", "", "^[$~]", "", "^[.]"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
