:root,
dialog {
	color-scheme: light dark;

	--bg-primary: light-dark(#30b9b3, #042f52);
	--fg-primary: light-dark(#2c004b, #bb54ff);

	--bg-dark-primary: light-dark(#7bbbb0, #2f3040);
	--fg-dark-primary: light-dark(#2f3040, #7bbbb0);

	--bg-warning: light-dark(#fff7b3, #fff7b3);
	--fg-warning: light-dark(#a85400, #a85400);

	--bg-error: light-dark(#ffcdc4, #250505);
	--fg-error: light-dark(#940000, #f15656);

	--bg-success: light-dark(#6bff6b, #006600);
	--fg-success: light-dark(#006600, #6bff6b);

	--bg-neutral: light-dark(#ffffff, #000000);
	--bg2-neutral: light-dark(#f3f3f3, #0c1527);
	--fg-neutral: light-dark(#000000, #ffffff);

	--bg-primary-translucent: color-mix(in srgb, var(--bg-primary) 35%, var(--bg-neutral));
	--gray: color-mix(in srgb, var(--fg-neutral) 35%, var(--bg-neutral));
	--gay: color-mix(in srgb, var(--fg-neutral) 75%, var(--bg-neutral));

	--corner-radius: 7px;
	--border-thickness: 1px;

	--font-regular: 'Host Grotesk', sans-serif;
	--font-mono: 'Martian Mono', monospace;
}

* {
	margin: 0%;
	box-sizing: border-box;
}
