:root,
dialog {
	color-scheme: light dark;

	--bg-primary: light-dark(#5fd6d0, #002b4e);
	--fg-primary: light-dark(#481070, #cb7cff);

	--bg-dark-primary: light-dark(#7bbbb0, #2f3040);
	--fg-dark-primary: light-dark(#2f3040, #7bbbb0);

	--bg-warning: light-dark(#fff7b3, #361c03);
	--fg-warning: light-dark(#a85400, #faae20);

	--bg-error: light-dark(#ffddd7, #250505);
	--fg-error: light-dark(#940000, #ff7b7b);

	--bg-success: light-dark(#adffad, #042904);
	--fg-success: light-dark(#1d7a1d, #50ee50);

	--bg-neutral: light-dark(#ffffff, #030308);
	--bg2-neutral: light-dark(#f3f3f3, #0c1527);
	--fg-neutral: light-dark(#000000, #ffffff);

	--bg-primary-translucent: color-mix(in srgb, var(--bg-primary) 35%, var(--bg-neutral));
	--gray: color-mix(in srgb, var(--fg-neutral) 35%, var(--bg-neutral));
	--gay: color-mix(in srgb, var(--fg-neutral) 75%, var(--bg-neutral));
	--faint: color-mix(in srgb, var(--fg-neutral) 15%, var(--bg-neutral));

	--corner-radius: 7px;
	--border-thickness: 1px;

	--font-regular: 'Host Grotesk', sans-serif;
	--font-mono: 'Martian Mono', monospace;
}

* {
	margin: 0%;
	box-sizing: border-box;
}
