name: Checks

on:
  pull_request:
  push:
    branches: [main]

env:
  ELECTRON_SKIP_BINARY_DOWNLOAD: 'true'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Lint
        run: bun run lint

  json-schema:
    name: Validate JSONs
    uses: ./.github/workflows/schemas.yml

  clutter:
    name: Check for clutter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Check for clutter
        run: bun knip --reporter github-actions

  build:
    name: Build
    uses: ./.github/workflows/build.yml
    with:
      minify: false

  test:
    needs: build
    name: Unit tests
    uses: ./.github/workflows/vitest.yml
    with:
      compare-coverage: ${{ github.event_name == 'pull_request' && !startsWith(github.head_ref, 'renovate/') }}

  e2e:
    needs: [build, json-schema, lint, test]
    name: E2E
    uses: ./.github/workflows/playwright.yml
    with:
      artifact: ${{ needs.build.outputs.artifact }}

  bundlesize:
    if: github.ref_name != 'main'
    needs: test
    name: Bundle size
    uses: ./.github/workflows/bundlesize.yml

  preview:
    if: github.event_name == 'pull_request'
    needs: [json-schema, lint, test]
    name: PR Preview
    uses: ./.github/workflows/preview.yml

  deploy:
    if: github.event_name == 'push' && github.ref_name == 'main'
    needs: e2e
    name: Deploy
    concurrency:
      group: deploy-gh-pages
      cancel-in-progress: true
    uses: ./.github/workflows/deploy.yml

  electron:
    if: github.event_name == 'pull_request'
    needs: [e2e]
    name: Electron
    uses: ./.github/workflows/electron.yml

  docker:
    needs: [build, e2e]
    name: Docker
    uses: ./.github/workflows/docker.yml
    with:
      artifact: ${{ needs.build.outputs.artifact }}
      deploy: ${{ github.ref_name == 'main' }}

  dont-merge-comment:
    name: Check for presence of "do not merge" comment
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: |
          # Check for "XXX: DONT MERGE" in current source code
          if git grep -q 'XXX: DONT MERGE'; then
            echo "Found 'XXX: DONT MERGE' in source code. Failing the job."
            exit 1
          else
            echo "No 'XXX: DONT MERGE' found in source code."
          fi

  is-mergeable:
    if: github.event_name == 'pull_request' && !cancelled()
    name: Mergeable?
    needs:
      - build
      - json-schema
      - lint
      - test
      - e2e
      - preview
      - electron
      - docker
      - bundlesize
      - dont-merge-comment
    runs-on: ubuntu-latest
    steps:
      - if: contains(needs.*.result, 'failure')
        run: echo "Some tests failed :'("; exit 1
      - if: ${{ !contains(needs.*.result, 'failure') }}
        run: echo "All checks passed! This PR is mergeable :D"
