name: Checks

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Lint
        run: bun run lint

  clutter:
    name: Check for clutter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Check for clutter
        run: bun knip --reporter github-actions

  test:
    name: Unit tests
    uses: ./.github/workflows/vitest.yml

  e2e:
    needs: [lint, test]
    name: E2E
    uses: ./.github/workflows/playwright.yml

  deploy:
    if: github.event_name == 'push' && github.ref_name == 'main'
    needs: [clutter, e2e]
    name: Deploy
    concurrency:
      group: deploy-gh-pages
      cancel-in-progress: true
    uses: ./.github/workflows/deploy.yml
