name: Github Pages

on:
  workflow_dispatch:
  workflow_call:
    inputs: {}

permissions:
  contents: write

jobs:
  deploy:
    name: Build & Deploy

    permissions:
      contents: write

    runs-on: ubuntu-latest

    env:
      BUILD_COMMIT: ${{ github.sha }}
      BASE_PATH: /${{ github.event.repository.name }}
      SVELTEKIT_FALLBACK_PAGE: 404.html
      SVELTE_FALLBACK_PAGE: 404.html

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version

      - name: Install dependencies
        run: bun install

      - name: Build project
        run: bun run build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: public # The folder the action should deploy.
          force: true
          single-commit: true
          clean-exclude: |
            .nojekyll
            _pullrequests
            _playwright
            _vitest
            _coverage
            _nodemodules
            playwright.json
