name: node_modules

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  ELECTRON_SKIP_BINARY_DOWNLOAD: 'true'

on:
  pull_request:
    branches: [main]
    paths:
      - .github/workflows/nodemodules.yml
      - package.json
      - bun.lock

jobs:
  analyze:
    if: ${{ !startsWith(github.head_ref, 'renovate/') }}
    runs-on: ubuntu-latest
    environment:
      name: '#${{ github.event.pull_request.number }}: node_modules analysis'
      url: ${{ steps.upload.outputs.preview-url }}
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Install node-modules-inspector
        run: bun install --global node-modules-inspector
      - name: Run node-modules-inspector
        run: bunx node-modules-inspector build --base /cigale/_nodemodules/pr-${{ github.event.pull_request.number }} --outDir out
      - name: Upload to github pages
        id: upload
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./out
          umbrella-dir: _nodemodules
          comment: false
