name: End-to-end tests on production

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0' # Every week

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    environment:
      name: Live tests
      url: https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/playwright.json
    container:
      image: ghcr.io/gwennlbh/playwright-bun:v1.58.1
      options: --user 1001
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version
      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run Playwright tests
        run: bunx playwright test
        env:
          BASE_URL: https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/

      - name: Move test-results.json to deployment/
        if: ${{ !cancelled() }}
        run: |
          mkdir -p deployment
          mv test-results.json deployment/playwright.json

      - name: Save as artifact
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v6
        with:
          name: results
          path: deployment/playwright.json

  upload-report:
    needs: test
    runs-on: ubuntu-latest
    if: ${{ !cancelled() }}
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: results
          path: deployment/playwright.json
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: deployment # The folder the action should deploy.
          force: true
          single-commit: true
          clean-exclude: |
            .nojekyll
            _pullrequests
            _playwright
            _vitest
            _coverage
            _nodemodules
            playwright.json
