name: End-to-end tests

on:
  workflow_call:
    inputs:
      artifact:
        type: string
        description: Name of artifact to download built app from.
        required: true

jobs:
  test:
    timeout-minutes: 12
    runs-on: ubuntu-latest
    name: Test (shard ${{ matrix.shard-index }} of ${{ matrix.shard-count }})
    container:
      image: ghcr.io/gwennlbh/playwright-bun:1.55.1
      options: --user 1001
    strategy:
      fail-fast: false
      matrix:
        shard-index: [1, 2, 3, 4, 5, 6, 7, 8]
        shard-count: [8]
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Download built app
        uses: actions/download-artifact@v6
        with:
          name: ${{ inputs.artifact }}
          path: ./
      - name: Remove task-type spec files for better sharding balance
        run: rm tests/tasks/*
      - name: Run Playwright tests
        run: bunx playwright test --shard=${{ matrix.shard-index}}/${{ matrix.shard-count }}
        env:
          SHARDING: '1'
      - uses: actions/upload-artifact@v5
        if: ${{ !cancelled() }}
        with:
          name: playwright-report-shard-${{ matrix.shard-index }}
          path: blob-report/
          retention-days: 30

  combine-reports:
    runs-on: ubuntu-latest
    needs: test
    # run even if tests fail
    if: always()
    environment:
      name: '#${{ github.event.number }}: End-to-end tests report'
      url: ${{ steps.deploy-preview.outputs.preview-url }}
    name: Combine reports
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v6
        with:
          path: ./playwright-report-shards
          pattern: playwright-report-shard-*
          merge-multiple: true

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version

      - name: Merge sharded reports into HTML
        run: bunx playwright merge-reports --reporter html ./playwright-report-shards

      - name: Deploy results on github pages
        if: ${{ !cancelled() }}
        id: deploy-preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./playwright-report
          umbrella-dir: _playwright
          comment: false
