name: End-to-end tests

permissions:
  actions: write
  contents: read

on:
  workflow_call:
    secrets:
      DEV_DEPLOYMENTS_SSH_PRIVATE_KEY:
        required: true
        description: 'SSH private key for deploying to dev deployments server'
      REPORTPORTAL_API_KEY:
        description: 'API token for ReportPortal'
      REPORTPORTAL_DOMAIN:
        description: 'Domain of ReportPortal instance'
      INFLUXDB_TOKEN:
        description: 'Token for InfluxDB instance'
    inputs:
      artifact:
        type: string
        description: Name of artifact to download built app from.
        required: true

env:
  ELECTRON_SKIP_BINARY_DOWNLOAD: 'true'
  INFLUXDB_TOKEN: ${{ secrets.INFLUXDB_TOKEN }}
  INFLUXDB_URL: 'https://influxdb.gwen.works'
  INFLUXDB_ORG: 'cigale'
  INFLUXDB_BUCKET: 'playwright'

jobs:
  predownload:
    runs-on: ubuntu-latest
    name: Pre-download models
    outputs:
      reportportal-launch-id: ${{ steps.report-portal.outputs.launchid }}
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Start Report Portal launch
        id: report-portal
        run: |
          launch_id=$(bun run scripts/reportportal-manage-launch.ts start)
          echo Started ReportPortal launch with ID $launch_id
          echo "launchid=$launch_id" >> $GITHUB_OUTPUT
        env:
          REPORTPORTAL_API_KEY: ${{ secrets.REPORTPORTAL_API_KEY }}
          REPORTPORTAL_DOMAIN: ${{ secrets.REPORTPORTAL_DOMAIN }}
          RUN_ID: ${{ github.run_id }}
          RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          GIT_BRANCH: ${{ github.head_ref || github.ref_name }}

      - name: Pre-download default protocol's models
        run: |
          urls=$(curl -fsSL $PROTOCOL_URL | jq -r "[$JQ_SELECTORS] | .[]")
          for url in $urls; do
            echo "Downloading $url"
            wget --content-disposition -q $url
          done
        env:
          PROTOCOL_URL: https://raw.githubusercontent.com/cigaleapp/cigale/main/examples/arthropods.cigaleprotocol.json
          JQ_SELECTORS: .crop.infer[].model,
            .metadata[].infer?.neural[]?.model,
            .metadata[].infer?.neural[]?.classmapping

      - name: Save to artifact
        uses: actions/upload-artifact@v6
        with:
          name: predownloaded-models
          path: |
            *.onnx
            *-classmapping.txt

  test:
    timeout-minutes: 12
    runs-on: ubuntu-latest
    name: Test (shard ${{ matrix.shard-index }} of ${{ matrix.shard-count }})
    needs: predownload
    container:
      image: ghcr.io/gwennlbh/playwright-bun:v1.57.0
      options: --user 1001
    strategy:
      fail-fast: false
      matrix:
        shard-index: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        shard-count: [12]
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Download built app
        uses: actions/download-artifact@v7
        with:
          name: ${{ inputs.artifact }}
          path: ./
      - name: Retrieve pre-downloaded models
        uses: actions/download-artifact@v7
        with:
          name: predownloaded-models
      - name: Remove task-type spec files for better sharding balance
        run: rm tests/tasks/*
      - name: Run Playwright tests
        run: bunx playwright test --shard=${{ matrix.shard-index}}/${{ matrix.shard-count }}
        env:
          SHARDING: 'true'
          REPORTPORTAL_API_KEY: ${{ secrets.REPORTPORTAL_API_KEY }}
          REPORTPORTAL_DOMAIN: ${{ secrets.REPORTPORTAL_DOMAIN }}
          REPORTPORTAL_LAUNCH_ID: ${{ needs.predownload.outputs.reportportal-launch-id }}
      - uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report-shard-${{ matrix.shard-index }}
          path: blob-report/
          retention-days: 30

  combine-reports:
    runs-on: ubuntu-latest
    needs: [test, predownload]
    # run even if tests fail
    if: always()
    name: Combine reports
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          path: ./playwright-report-shards
          pattern: playwright-report-shard-*
          merge-multiple: true

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version

      - name: Merge sharded reports into HTML
        run: bunx playwright merge-reports --reporter html ./playwright-report-shards

      - name: Save report
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v6
        with:
          name: report
          path: ./playwright-report
          retention-days: 1

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Finish Report Portal launch
        run: |
          echo Finishing ReportPortal launch with ID $launch_id
          bun run scripts/reportportal-manage-launch.ts finish $REPORTPORTAL_LAUNCH_ID
        env:
          REPORTPORTAL_API_KEY: ${{ secrets.REPORTPORTAL_API_KEY }}
          REPORTPORTAL_DOMAIN: ${{ secrets.REPORTPORTAL_DOMAIN }}
          REPORTPORTAL_LAUNCH_ID: ${{ needs.predownload.outputs.reportportal-launch-id }}
          RUN_ID: ${{ github.run_id }}
          RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          GIT_BRANCH: ${{ github.head_ref || github.ref_name }}

  upload-report:
    # run even if tests fail
    if: always()
    name: Upload report
    needs: combine-reports
    uses: ./.github/workflows/dev-deploy.yml
    secrets: inherit
    with:
      environment: '#${{ github.event.number }}: E2E tests'
      artifact: report
      subdomain: pr-${{ github.event.number }}-reports
      path: /playwright
      # #?show-metadata-other allows showing extra metadata sections in the report
      # Ref: https://github.com/microsoft/playwright/blob/e76ca6c/packages/html-reporter/src/metadataView.tsx#L62
      environment-url-append: '#?show-metadata-other'
