name: Deploy PR previews

on:
  workflow_call:
    inputs: {}

env:
  BASE_PATH: /cigale/_pullrequests/pr-${{ github.event.number }}
  PR_NUMBER: ${{ github.event.number }}
  BUILD_COMMIT: ${{ github.sha }}

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    environment:
      name: '#${{ github.event.number }}: App preview'
      url: ${{ steps.deploy-preview.outputs.preview-url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version

      - name: Install and Build
        if: github.event.action != 'closed'
        run: |
          bun install
          bun run build

      - name: Deploy preview
        id: deploy-preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./public
          umbrella-dir: _pullrequests
          comment: false
