name: Deploy PR previews

permissions:
  actions: write
  contents: read

on:
  workflow_call:
    inputs: {}
    secrets:
      DEV_DEPLOYMENTS_SSH_PRIVATE_KEY:
        required: true
        description: 'SSH private key for deploying to dev deployments server'

env:
  PR_NUMBER: ${{ github.event.number }}
  BUILD_COMMIT: ${{ github.sha }}
  SVELTEKIT_FALLBACK_PAGE: index.html

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version

      - name: Install dependencies
        run: bun install

      - name: Build
        if: github.event.action != 'closed'
        run: bun run build

      - name: Save preview
        uses: actions/upload-artifact@v6
        with:
          name: app
          path: ./public
          retention-days: 1

  upload:
    name: Deploy
    needs: build
    uses: ./.github/workflows/dev-deploy.yml
    secrets: inherit
    with:
      environment: '#${{ github.event.number }}: App preview'
      artifact: app
      subdomain: pr-${{ github.event.number }}
      path: /
