name: Schemas

on:
  workflow_call:
    inputs: {}

jobs:
  protocols:
    name: Protocols
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Generate JSON schema
        run: bun run scripts/generate-json-schemas.js
      - name: Validate protocols with JSON schema
        uses: GrantBirki/json-yaml-validate@v4.0.0
        with:
          json_schema: static/protocol.schema.json
          json_schema_version: draft-2020-12
          files: examples/*.cigaleprotocol.json
      - name: Validate registry with JSON schema
        uses: GrantBirki/json-yaml-validate@v4.0.0
        with:
          json_schema: static/registry.schema.json
          json_schema_version: draft-2020-12
          files: protocols/registry.json
